.nm-search-view
{
    background: white;
    height: 24px;
    padding-left: 6px;
    padding-right: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 12px;

    .icon
    {
        color: gray;
        margin-right: 6px;
    }

    input[type=search]
    {
        background: transparent;
        border: none;
        width: 240px;
    }
}
